<h1> The index page for characters</h1>
<p> Is this the user dashboard page?</p>
<p> List of characters(with the stories).<br>A button to create a NEW character.<br>Buttons to edit and delete specific character.</p>
<%= link_to 'Character (new)', new_character_path %>
