<h1>Let's start a new adventure with a new character!</h1>

<p>This page needs a form so players can create a character.<br>
Set the form as default awnsers so player doesn have to create from scratch.<br>
Button to save everything.</p>

<p><%=link_to "Dashboard", root_path %></p>

<%= render 'form' %>
